# Geral
NIVEL_LOG=INFO
PASTA_DADOS=./system/data

# Modulo A - Yahoo
YAHOO_URL=https://news.yahoo.com
YAHOO_TIMEOUT=60
yahoo_headless=true


# Modulo C - Gmail
GMAIL_USUARIO=email
GMAIL_SENHA_APP=senha
GMAIL_SERVIDOR=imap.gmail.com
GMAIL_PORTA=993
FILTRO_ASSUNTO=Relatório Diário
PASTA_VALIDOS=./system/data/inbox/valid
PASTA_REJEITADOS=./system/data/inbox/rejected


# Modulo D - Leitor PDF - CPF e CEP
PASTA_SAIDA_XLSX=./system/data

# Retry
MAX_TENTATIVAS=3
ESPERA_BASE=2

# Uipath Orquestrador
ORCHESTRATOR_URL=https://cloud.uipath.com
ORCHESTRATOR_ACCOUNT_NAME=seu_account
ORCHESTRATOR_TENANT=seu_tenant
ORCHESTRATOR_CLIENT_ID=seu_client_id
ORCHESTRATOR_CLIENT_SECRET='seu_client_secret'
ORCHESTRATOR_FOLDER_ID=nome_da_pasta
FILA_MODULO_A=Bridge_Modulo_A
FILA_MODULO_B=Bridge_Modulo_B
FILA_MODULO_C=Bridge_Modulo_C
FILA_MODULO_D=Bridge_Modulo_D