# ============================================================================
# Bridge Case RPA 2026
# ============================================================================

# Geral
NIVEL_LOG=INFO
PASTA_DADOS=./system/data

# Modulo A - Yahoo
YAHOO_URL=
YAHOO_TIMEOUT=60
yahoo_headless=true


# Uipath Orquestrador
ORCHESTRATOR_URL=https://cloud.uipath.com
ORCHESTRATOR_ACCOUNT_NAME=seu_account
ORCHESTRATOR_TENANT=seu_tenant
ORCHESTRATOR_CLIENT_ID=seu_client_id
ORCHESTRATOR_CLIENT_SECRET='seu_client_secret'
FILA_MODULO_A=Bridge_Modulo_A
FILA_MODULO_B=Bridge_Modulo_B
FILA_MODULO_C=Bridge_Modulo_C
FILA_MODULO_D=Bridge_Modulo_D